In [2]:
flores = ["margarida", "rosa", "tulipa", "cravo"]
tam = len(flores) - 1
while tam >= 0:
    print(flores[tam], end=", ")
    tam -= 1

cravo, tulipa, rosa, margarida,

In [3]:
aluno = ["Fulano de Tal", 25, "Rua xyz, 123", "São Paulo", 3, "Matemática", 7.5, "Português", 6.6, "Artes", 10]

In [5]:
aluno[1] = aluno[1] + 1

In [6]:
aluno[1]

26

In [7]:
type(aluno[-1])

int

In [11]:
len(aluno)

11

In [9]:
type(aluno[1])

int

In [10]:
type(aluno[4])

int

In [12]:
animais = ["gato", "cachorro", "vaca", "cavalo", "casa"]

In [13]:
animais = ["gato", "cachorro", "papagaio", "arara", "jacaré"]

In [14]:
for x in animais:
    print("--> " + x)

--> gato
--> cachorro
--> papagaio
--> arara
--> jacaré

In [15]:
for x in animais:
    print("--> ", x)

-->  gato
-->  cachorro
-->  papagaio
-->  arara
-->  jacaré

In [16]:
for x in animais:
    print("--> ", x-1)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [17]:
for x in range(len(animais)):
    print("--> ", x)

-->  0
-->  1
-->  2
-->  3
-->  4

In [18]:
for x in range(len(animais)):
    print("--> ", animais[x])

-->  gato
-->  cachorro
-->  papagaio
-->  arara
-->  jacaré

In [19]:
for i in range(16,4,-3):
	print(i)

16
13
10
7

In [20]:
pares = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
for x in range(len(pares)):
    print(pares[x])

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [21]:
for i in range(0, 50, 5):
	print(i)

0
5
10
15
20
25
30
35
40
45

In [29]:
pares = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
for x in range(5, 10):
    print(pares[x])

12
14
16
18
20

In [30]:
valores = []
for i in range(1, 10):
    if i % 2 == 0:
        valores.append(i)
print(valores)

[2, 4, 6, 8]

In [31]:
valores = []
for i in range(1, 10):
    valores.append(i+1)
print(valores)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
valores = []
for i in range(1, 10):
    valores.append(i+1)

print(valores)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
valores = []
for i in range(1, 10, 2):
    valores.append(i)

In [28]:
print(valores)

[1, 3, 5, 7, 9]

In [33]:
valores = []
for i in range(0, 10, 2):
    valores.append(i)

print(valores)

[0, 2, 4, 6, 8]

In [35]:
l1 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
l2 = l1
l3 = l1[:]
l4 = l1.copy()
l1[0] = 1
print(l1)
print(l2)
print(l3)
print(l4)

[1, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[1, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]