In [6]:
s= set()
s.add(1)
t = s.copy()
s.update('2')
s.update('Teste')
print(s,' - >',t)

{1, '2', 'T', 's', 't', 'e'}  - > {1}

In [14]:
s1 = {1,1,2,3,4,5,6,7,8,9}
s2 = {0,1,2,3,10,11,12,14}
s3 = s1.union(s2)
s4 = s3.copy()
print(s3,' - >',s1,' - >',s2)
s3 = s1 | s2
print(s3,' - >',s1,' - >',s2)
s3 = s1.intersection(s2)
print(s3,' - >',s1,' - >',s2)
s3 = s1 & s2
print(s3,' - >',s1,' - >',s2)
s3 = s1.difference(s2)
print(s3,' - >',s1,' - >',s2)
s3 = s1 - s2
print(s3,' - >',s1,' - >',s2)
s3 = s1.symmetric_difference(s2)
print(s3,' - >',s1,' - >',s2)
s3 = s1 ^ s2
print(s3,' - >',s1,' - >',s2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}  - > {1, 2, 3, 4, 5, 6, 7, 8, 9}  - > {0, 1, 2, 3, 10, 11, 12, 14}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}  - > {1, 2, 3, 4, 5, 6, 7, 8, 9}  - > {0, 1, 2, 3, 10, 11, 12, 14}
{1, 2, 3}  - > {1, 2, 3, 4, 5, 6, 7, 8, 9}  - > {0, 1, 2, 3, 10, 11, 12, 14}
{1, 2, 3}  - > {1, 2, 3, 4, 5, 6, 7, 8, 9}  - > {0, 1, 2, 3, 10, 11, 12, 14}
{4, 5, 6, 7, 8, 9}  - > {1, 2, 3, 4, 5, 6, 7, 8, 9}  - > {0, 1, 2, 3, 10, 11, 12, 14}
{4, 5, 6, 7, 8, 9}  - > {1, 2, 3, 4, 5, 6, 7, 8, 9}  - > {0, 1, 2, 3, 10, 11, 12, 14}
{0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}  - > {1, 2, 3, 4, 5, 6, 7, 8, 9}  - > {0, 1, 2, 3, 10, 11, 12, 14}
{0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}  - > {1, 2, 3, 4, 5, 6, 7, 8, 9}  - > {0, 1, 2, 3, 10, 11, 12, 14}

In [48]:
from random import randint
lista = [[randint(0,10) if n2 > 0 else n1 for n1 in range(10)] for n2 in range(10)  ]

In [49]:
lista

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 8, 4, 3, 8, 10, 3, 10, 2, 9],
 [6, 5, 3, 7, 7, 3, 10, 1, 0, 0],
 [5, 9, 4, 5, 8, 3, 4, 3, 5, 0],
 [0, 9, 6, 10, 1, 3, 7, 2, 0, 0],
 [1, 0, 7, 9, 7, 5, 2, 2, 9, 10],
 [9, 10, 9, 4, 3, 5, 5, 8, 7, 7],
 [9, 3, 1, 1, 9, 9, 1, 5, 2, 6],
 [7, 7, 1, 4, 7, 2, 2, 6, 5, 10],
 [9, 2, 0, 2, 0, 8, 9, 2, 5, 7]]

In [52]:
def fnc_lista(p_lista):    
    for item in p_lista:
        nr_aux = 0
        for p,i in enumerate(item):
            if item.count(i) > 1:
                nr_aux+=1
                if nr_aux > 1:
                    print(i,'-> qtde: ',item.count(i),'-> nr.ele.rept: ',nr_aux,'-> posição: ',p,end=' | ')            
                    break
        else:
            if nr_aux <= 1:
                print(-1,'->','não encontrado duplicado:',item,end='')
        print()    

fnc_lista(lista)

-1 -> não encontrado duplicado: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
3 -> qtde:  2 -> nr.ele.rept:  2 -> posição:  3 |
7 -> qtde:  2 -> nr.ele.rept:  2 -> posição:  3 |
4 -> qtde:  2 -> nr.ele.rept:  2 -> posição:  2 |
0 -> qtde:  3 -> nr.ele.rept:  2 -> posição:  8 |
9 -> qtde:  2 -> nr.ele.rept:  2 -> posição:  3 |
9 -> qtde:  2 -> nr.ele.rept:  2 -> posição:  2 |
1 -> qtde:  3 -> nr.ele.rept:  2 -> posição:  2 |
7 -> qtde:  3 -> nr.ele.rept:  2 -> posição:  1 |
2 -> qtde:  3 -> nr.ele.rept:  2 -> posição:  1 |

In [76]:
from random import randint
lista = [str(n1) for n1 in range(10)]

In [103]:
string = ''.join([str(n1) for n1 in range(10)]) * 10

In [104]:
string[0:100000000]

'0123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789'

In [105]:
l1 = '.'.join([string[i:(i+10)] for i in range(0,len(string),10)])

In [106]:
l1

'0123456789.0123456789.0123456789.0123456789.0123456789.0123456789.0123456789.0123456789.0123456789.0123456789'

In [112]:
l1 = [
    ('k1.0',1)
    ,('k2.0',2)
    ,('k3.0',3)    
]

d1 = dict(l1)
d2 = {x.upper():y*10 for x,y in l1}
print(l1,d1,d2)

[('k1.0', 1), ('k2.0', 2), ('k3.0', 3)] {'k1.0': 1, 'k2.0': 2, 'k3.0': 3} {'K1.0': 10, 'K2.0': 20, 'K3.0': 30}

In [119]:
l1 = [0,1]
l2 = l1.copy()
l2 = iter(l2) 
print(hasattr(l1,'__next__'),hasattr(l2,'__next__'))

False True

In [136]:
l1 = [('p1',10)
     ,('p2',20)
     ,('p3',30) 
     ]
t1 = sum([x[1] for x in l1])
t1

60

In [133]:
l1.index('1')

0

In [159]:
from itertools import zip_longest,count
indice = count()
cidades = ['Uberlandia','Araraquara','Manaus','Rio Verde']
estados = ['MG','SP','AM']
cidades_estados_zip = zip(estados,cidades)
cidades_estados_zip_indice = zip(indice,estados,cidades)
print(list(cidades_estados_zip),'->',cidades_estados_zip)
print(list(cidades_estados_zip_indice),'->',cidades_estados_zip_indice)
cidades_estados_zip_longest_1 = zip_longest(estados,cidades,fillvalue='Estado')
cidades_estados_zip_longest_2 = zip_longest(estados,cidades)
print(list(cidades_estados_zip_longest_1),'->',cidades_estados_zip_longest_1)
print(list(cidades_estados_zip_longest_2),'->',cidades_estados_zip_longest_2)

print(list(cidades_estados_zip))

[('MG', 'Uberlandia'), ('SP', 'Araraquara'), ('AM', 'Manaus')] -> <zip object at 0x0000019809DAD2C0>
[(0, 'MG', 'Uberlandia'), (1, 'SP', 'Araraquara'), (2, 'AM', 'Manaus')] -> <zip object at 0x0000019809D9FA00>
[('MG', 'Uberlandia'), ('SP', 'Araraquara'), ('AM', 'Manaus'), ('Estado', 'Rio Verde')] -> <itertools.zip_longest object at 0x0000019809DB9F40>
[('MG', 'Uberlandia'), ('SP', 'Araraquara'), ('AM', 'Manaus'), (None, 'Rio Verde')] -> <itertools.zip_longest object at 0x0000019809DB30E0>
[]

[]